<main class="container ">
    <section class="panel-margin">
        <div class="d-flex justify-content-center contenido">
            <mat-button-toggle-group>
                <mat-button-toggle value="bold" (click)="irReporteUsuarios()">REPORTE DE USUARIOS
                </mat-button-toggle>
                <mat-button-toggle value="italic" (click)="irReporteSolicitudes()">REPORTE DE
                    SOLICITUDES
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </section>
    <section class="container">
        <router-outlet></router-outlet>
    </section>
</main>