$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;

.contenido {
  margin: auto;
  width: max-content;
}

.container {
  padding: 10px;
}

.contenido-ml {
  margin-left: 20px;
}

.contenido-mr {
  margin-right: 20px;
}

.input {
  width: 350px;
}

@media(max-width: 1000px) {
  .input {
    width: 260px;
  }
}

@media(max-width:768px) {
  .input {
    width: 100%;
  }

  .panel-contenido div {
    flex-direction: column;
  }

  .panel-filas div {
    height: 110px;
  }

  .contenido div {
    flex-direction: column;
    margin: auto;
  }
}