$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;

.container {
  padding: 10px;
}
.contenido-centrado {
  text-align: center;
  margin: auto;
}
.contenido-ml {
  margin-left: 20px;
}

.contenido-mr {
  margin-right: 20px;
}

.input {
  max-width: 350px;
}

@media(max-width:500px){
  .contenido div {
    flex-direction: column;
    margin: auto;
  }
    
   .panel-bg{
     min-width: 80%;
   }
}