<main class="text-center container">
    <form [formGroup]="formEstado" (submit)="send()" class="panel-margin" >
        <h2>USUARIO: {{nombreUsuario}}</h2>
        <br>
        <h2>ASUNTO:{{ticketForm.asunto}}</h2>
        <br>
        <div class="text-area-admin">
            <label style="color: black;">
                DESCRIPCIÓN:
            </label>
            <textarea class="form-control" rows="4" readonly>{{ticketForm.descripcion}}</textarea>
        </div> 
        <br>
        <p>SELECCIONE NUEVO ESTADO:</p>
        <select formControlName="estado" style="max-width: 30%; margin: auto;" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected disabled>{{"Actual: "+ticketForm.estado}}</option>
            <option value="Abierto">Abierto</option>
            <option value="Cerrado">Cerrado</option>
            <option value="Desarrollo">Desarrollo</option>
        </select>
      
        <div>
            <button [disabled]="formEstado.invalid" mat-raised-button class="btn" type="submit">ENVIAR</button>
        </div>
    </form>

</main>