<main class="container text-center">
    <form [formGroup]="formEstado" (submit)="send()" class="panel-margin" >
        <p>USUARIO:{{nombreUsuario}}</p>
        <br>
        <p>ASUNTO:{{ticketForm.asunto}}</p>
        <br>
        <label>DESCRIPCION:</label>
        <br>
        <textarea cols="30" rows="10" readonly>
        {{ticketForm.descripcion}}
        </textarea>
        <br>
        <mat-form-field appearance="fill" class="input">
            <mat-label>SELECCIONE NUEVO ESTADO</mat-label>
            <mat-select formControlName="estado">
                <mat-option *ngFor="let item of estados" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button [disabled]="formEstado.invalid" mat-raised-button class="btn" type="submit">ENVIAR</button>
        </div>
    </form>

</main>