<main class="container text-center">
    <form [formGroup]="formRespuesta" (submit)="send()" class="panel-margin">
        <p>USUARIO: {{nombreUsuario}}</p>
        <br>
        <p>ASUNTO: {{ ticketForm.asunto}}</p>
        <br>
        <div class="text-area-admin">
            <label  style="color: black;">DESCRIPCION:</label>

            <textarea class="form-control" cols="10" rows="5" readonly>
                    {{ticketForm.descripcion}}
                    </textarea>
        </div>
        <br>
        <div class="text-area-admin">
            <label style="color: black;">Respuesta:</label>
        
            <textarea formControlName="respuesta" class="form-control" cols="10" rows="5">
                            {{ticketForm.descripcion}}
                            </textarea>
        </div>
        <div>
            <button [disabled]="formRespuesta.invalid" mat-raised-button class="btn" type="submit">ENVIAR</button>
        </div>
    </form>

</main>