 
<form [formGroup]="formReclamo" (submit)="reclamar()">
    <div class="text-center">
        <h2>INTRODUZCA LOS SIGUIENTES DATOS:</h2>
    </div>
    <div class="panel-bg panel-reclamo container ">
        <div>
            <label for="" class="d-block">PRIORIDAD</label>
            <select formControlName="prioridad" class="form-select form-select-lg mb-3"aria-label=".form-select-lg example">
                <option selected disabled>Seleccione prioridad</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <div>
            <label for="" class="d-block">CATEGORIA</label>
            <select formControlName="categoria" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected disabled>Seleccione prioridad</option>
                <option value="Solicitud generica">Solicitud generica</option>
                <option value="Solicitud de cambio">Solicitud de cambio</option>
                <option value="Incidente">Incidente</option>
                <option value="Solicitud de hardware">Solicitud de hardware</option>
                <option value="Solicitud de software nuevo">Solicitud de software nuevo</option>
            </select>
        </div>
        <div>
            <label for="" class="d-block">ASUNTO</label>
            <textarea formControlName="asunto" class="form-control text-left" rows="2" type="text">
            </textarea>
        </div>
        <div>
            <label for="" class="d-block">DESCRIPCION</label>
            <textarea formControlName="descripcion" class="form-control text-left" rows="4" type="text">
            </textarea>
        </div>
        <div>
            <p>{{mensaje}}</p>
        </div>
        <div>
            <button [disabled]="formReclamo.invalid" type="submit" mat-raised-button class="btn">ENVIAR</button>
        </div>
    </div>
</form>