$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;
.panel-reclamo div{
    width: fit-content;
}
.panel-bg{
    max-width: 50% !important;
}
.container div{
    margin: auto;
}
 