<main class="container">
    <div>
        <h1 style="color:#204051">SECCIÓN ADMINISTRACIÓN</h1>
    </div>
    <section>
        <div class="text-center">
            <h2>INICIAR SESIÓN</h2>
        </div>
        <div class="panel-bg text-center">
            <form [formGroup]="formLogin" (submit)="send()" class="panel-margin">
                <div><input type="email" id="email" formControlName="email" placeholder="EMAIL"
                        class="text-center input-sesion"></div>
                <div><input type="password" id="password" formControlName="password" placeholder="CONTRASEÑA"
                        class="text-center input-sesion"></div>
                <div>
                    <button type="button" class="btn btn-info" (click)="recuperarPass()">RECUPERAR CONTRASEÑA</button>
                </div>
                <div>
                    <ngx-recaptcha2 [theme]="theme" [size]="size" #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                </div>
                <div class="mensaje-error">
                    <p>{{mensaje}}</p>
                </div>
                <div>
                    <button [disabled]="formLogin.invalid" mat-raised-button class="btn" type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
    </section>
</main>