$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;

$prioridad-baja:#3FD233;
$prioridad-alta:#E82E2E;
$prioridad-media:#F0D856;

@media(max-width:350px){
  .mat-card-title{
    font-size: 15px;
  }
}
.btn {
  padding: 0;
  margin: 0 4px;
  border-width: 0;
  width: 30px;
  height: 30px;
  background-color: white;
}
.contenido-texto-box{
  max-width: 60%;
}
.container-box{
  max-width: 300px;
}
.box {
  margin: 10px 0;
  border-style: solid;
  border-width: 1px;
}
.contenido-btn{
  margin-left: auto;
}
.prioridad-baja {
  background-color: $prioridad-baja;
}
.contenido{
  justify-content: center;
  margin: auto;
}
.prioridad-media {
  background-color: $prioridad-media;
}

.prioridad-alta {
  background-color: $prioridad-alta;
}
.estado-box{
  margin: auto;
  background-color: white;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: fit-content;
}
.estado-box p{
  margin:auto;
}
@media(max-width:768px){
  .contenido {
    flex-direction: column;
    align-items: center;
  }
  .container-box {
    width: 100%;
  }
}