 @import '~normalize.css';
li{
  list-style: none;
}
ul{
  margin: 0;
}
$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;
header {
  height: 60px;
  background-color: $main-color-dark;
}
 
footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  position:fixed;
  background-color: $main-color-dark;
}
 
h1{
  color: $main-color-dark;
}
input{
  height: 30px;
}
#text-white{
  color: white;
}
.mat-h2,
.mat-title,
.mat-typography h2 {
  margin: 0;
}
@media(max-width:768px){
  .panel-sesion{
    width: 250px;
  }
  .mat-h2,
  .mat-title,
  .mat-typography h2 {
    font-size: 15px;
  }
  .mat-h1,
  .mat-title,
  .mat-typography h1 {
    font-size: 18px;
  }

}
.icono {
  width: 60px;
}
@media(max-width:400px) {
  .icono {
    width: 30px;
  }
  .mat-h2,
  .mat-title,
  .mat-typography h2 {
    font-size: 12px;
  }

  .mat-h1,
  .mat-title,
  .mat-typography h1 {
    font-size: 15px;
  }
  .mat-button-toggle{
    font-size: 12px;
  }
}
.panel-bg{
  background-color: $main-color-light;
  padding:10px;
}
#checkbox{
  background-color: white;
}
body{
  background-color: #E7DFD5;
}
label{
  color: white;
}
.container{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn{
  background-color: $main-color-dark;
  color: white;
}
.panel-margin>div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mensaje-error{
  color: red;
}
 