@import '~normalize.css';

li {
  list-style: none;
}

ul {
  margin: 0;
}

$main-color-dark:#204051;
$main-color:#3B6978;
$main-color-light:#84A9AC;

header {
  background-color: $main-color-dark;
  text-shadow: 2px 2px black;
}

footer {
  margin-top: 50px;
  width: 100%;
}
h1 {
  color: $main-color-dark;
}

input {
  height: 30px;
}

#text-white {
  color: white;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  margin: 0;
}

@media(max-width:768px) {
  .panel-sesion {
    width: 250px;
  }

  .mat-h2,
  .mat-title,
  .mat-typography h2 {
    font-size: 15px;
  }

  .mat-h1,
  .mat-title,
  .mat-typography h1 {
    font-size: 18px;
  }

}
 
.icono {
  width: 60px;
}
.mat-button-toggle-group {
  flex-wrap: wrap;
  border: 0;
}
@media(max-width:400px) {
  .icono {
    width: 30px;
  }

  .mat-h2,
  .mat-title,
  .mat-typography h2 {
    font-size: 12px;
  }

  .mat-h1,
  .mat-title,
  .mat-typography h1 {
    font-size: 15px;
  }
  .mat-button-toggle {
    font-size: 12px;
  }
}
.text-area-admin{
  margin: auto;
  width: 350px;
}
@media(max-width:768px){
  .text-area-admin {
    margin: auto;
    width: 90%;
  }
}
.panel-bg {
  background-color: $main-color-light;
  padding: 10px;
  max-width: fit-content;
  margin: auto;
  box-shadow: 0px 2px 5px black;
}

body {
  background-color: #E7DFD5;
}

label {
  color: white;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  background-color: $main-color-dark;
  color: white;
}

.panel-margin>div {
  margin: 15px auto;
}

.mensaje-error {
  color: red;
}